
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <div id='h1'>
       <h1 class='titulo'>Pagina Principal</h1> 
    </div>
    
    
    <div id='contenedorP'>

    <aside>
        <img src="img/cc.jpg" class="imgg">
        <img src="img/mm.jpg" class="imgg">
        <img src="img/jj.jpg" class="imgg">
    </aside>
    
    <section>
       
       <div id='ContenedorImgNombre'>
        <img src="/img/jose.jpg" class='img'>
        <h2>José Galindez</h2>
        <p>Cedula: 30.016.640</p>
        <p>Sección: 2</p> 
       </div>
    </section>

    </div>

  <a href='/login' id='botonProductos'>Admin</a>

   <%- include('footer') -%>
  
</body>

</html>